    <div class="container">
        <nav class="navbar navbar-expand-lg">
            <a class="navbar-brand" href="#">
                <img src="/pluginfile.php/1/core_admin/logocompact/0x70/1553469977/domru_logo.png" height="60px" class="d-inline-block align-top" alt="">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#product">Продукт</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#features">Преимущества</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#price">Цены</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <div id="promowrapper">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-8">
                    <h1 class="display-4">Дополнительное обучение<br><small>для ваших сотрудников</small></h1>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4">
                    <div id="promoform" class="rounded-sm">
                        <h3>Оставьте заявку</h3>
                        <p>Вы получите полный каталог наших курсов и&nbsp;специальное предложение по&nbsp;цене</p>
                        <form action="">
                            <div class="form-group">
                                <label for="InputEmail1">Email</label>
                                <input type="email" class="form-control" id="InputEmail1" aria-describedby="emailHelp"
                                    placeholder="Enter email">
                                <small id="emailHelp" class="form-text text-muted">Оставьте свой адрес и мы пришлем наше
                                    предложение</small>
                            </div>
                            <!--div class="form-group form-check">
                                <input type="checkbox" class="form-check-input" id="policyCheck1">
                                <label class="form-check-label" for="policyCheck1">Согласен на обработку персональных данных</label>
                            </div-->
                            <button type="submit" class="btn btn-primary">Отправить</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="productBlock" class="blockWrapper">
        <a name="product"></a>
        <div class="container">
            <h2 class="display-4">Корпоративное обучение</h2>
            <div class="row">
                <div class="col">
                    <p>Мы предлагаем эффективные, полезные и главное увлекательные курсы для повышения квалификации ваших сотрудников. Вы можете подтянуть e сотрудников как soft-skills, так и профессиональные навыки.</p>
                    <p>
                        <ul>
                            <li>Наняли junior специалиста</li>
                            <li>Меняете стек технологий</li>
                            <li>Изменилось законодательство</li>
                        </ul>
                        Причин может быть множество. А решение прямо перед вами.
                    </p>
                    <h3>Выбирайте курсы. Добавляйте сотрудников. И вперед.</h3>
                </div>
            </div>
        </div>
    </div>
    <div id="featuresBlock" class="blockWrapper">
        <a name="features"></a>
        <div class="container">
            <h2 class="display-4">Нам можно доверять</h2>
            <div class="row">
                <div class="col-sm-12 col-md-4">
                    <div class="fea-img" id="icon-edu1"></div>
                    <div class="fea-title h3">Полезно</div>
                    <div class="fea-desc">
                        Мы предлагаем курсы по самым востребованным направлениям: информационная безопасность, бухгалтерия, работа с офиснами продуктами, маркетинг и д.р.
                    </div>
                </div>
                <div class="col-sm-12 col-md-4">
                    <div class="fea-img" id="icon-edu2"></div>
                    <div class="fea-title h3">Интересно</div>
                    <div class="fea-desc">
                        Все курсы разработаны лидерами образования в своей сфере. Харизматичные спикеры, успешные кейсы, элементы геймификации.
                    </div>
                </div>
                <div class="col-sm-12 col-md-4">
                    <div class="fea-img" id="icon-edu3"></div>
                    <div class="fea-title h3">Надежно</div>
                    <div class="fea-desc">
                        После обучения все студенты проходят тестирование и в случае затруднений получают доступ к дополнительным материалам, чтобы потом успешно пройти финальное испытание.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="priceBlock" class="blockWrapper">
        <a name="price"></a>
        <div class="container">
            <h2 class="display-4">Наше обучение вам по карману</h2>
            <div class="row">
                <div class="col-sm-12 col-md-4">
                    <div class="price-point" style="margin-top: 3rem">
                        <div class="price-value display-3 justify-content-center">1&#8239;500 р</div>
                        <div class="price-title h3">Startup</div>
                        <div class="price-desc"><ul>
                            <li>1 курс</li>
                            <li>До 25 студентов</li>
                            <li>Ручная регистрация</li>
                        </ul></div>
                        <div class="price-button justify-content-center">
                            <button type="button" class="btn btn-success">Заказать</button>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4">
                    <div class="price-point" style="margin-top: 1.5rem">
                        <div class="price-value display-3 justify-content-center">1&#8239;200 р</div>
                        <div class="price-title h3">Small business</div>
                        <div class="price-desc"><ul>
                            <li>2 курса</li>
                            <li>25-99 студентов</li>
                            <li>Внешняя БД студентов</li>
                            <li>Отчеты об обучении</li>
                        </ul></div>
                        <div class="price-button">
                            <button type="button" class="btn btn-success">Заказать</button>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4">
                    <div class="price-point">
                        <div class="price-value display-3 justify-content-center">1&#8239;000 р</div>
                        <div class="price-title h3">Corporation</div>
                        <div class="price-desc"><ul>
                            <li>5 курсов</li>
                            <li>От 100 студентов</li>
                            <li>Авторизация через oAuth</li>
                            <li>Расширенные отчеты</li>
                            <li>Поддерка</li>
                        </ul></div>
                        <div class="price-button">
                            <button type="button" class="btn btn-success">Заказать</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>